$black-0: #000;
$black-12: #121212;
$black-20: #202020; // 85%
$black-5a: #5a5a5a; // 65%
$black-97: #979797; // 45%
$black-cb: #cbcbcb; // 25%
$black-3a: #3a3a3a;
$black-6: #666666;
$black-9: #999999;
$black-a: #aaaaaa;
$black-eb: #ebebeb;
$black-ed: #ededed;
$black-f9: #f9f9f9;

$blue-mid: #1890ff;
$green-mid: #43af62;
$yellow-mid: #f7b500;
$red-mid: #f5222d;
$red-light: #ffece7;
$white: #fff;

@each $color, $name in ($black-0, black-0), ($black-12, black-12),
	($black-20, black-20), ($black-5a, black-5a), ($black-97, black-97),
	($black-cb, black-cb), ($black-3a, black-3a), ($black-6, black-6),
	($black-9, black-9), ($black-a, black-a), ($black-eb, black-eb),
	($black-ed, black-ed), ($black-f9, black-f9), ($blue-mid, blue-mid),
	($green-mid, green-mid), ($yellow-mid, yellow-mid), ($red-mid, red-mid),
	($red-light, red-light), ($white, "white")
{
	.g-c-#{$name} {
		color: $color;
	}
	.g-bg-#{$name} {
		background-color: $color;
	}
}
